body {
	background-color: black;
}
#loader {
	background-color: black;
	width: 100%;
	height: 100%;
	position: fixed;
	opacity: 1;
	transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
}

#loader.fade {
	opacity: 0;
}

#content {
	opacity: 0;
	transition: opacity 1s ease-in-out;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	background-color: black;
}

#content.appear {
	opacity: 1;
}

#trump-pepe {
	width: 30%;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 5px solid wheat;
	border-radius: 100%;
	animation: borderAnimation 2.5s;
}

@media only screen and (max-width : 900px) {
    #trump-pepe {
		width: 50%;
	}
}

@media only screen and (max-width: 500px) {
    #trump-pepe {
		width: 70%;
	}
}

@keyframes borderAnimation {
	0%   {border-color: #D32943;}
	50%  {border-color: #DFFB5F;}
	100%  {border-color: #5F8BFB;}
}

#opened-list-item { 
	overflow: hidden;
}

.closed-list {
	margin-left: -1em;
}

.closed-list li {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 0.5em;
}

.timeline li:hover {
	color: #262B83;
	transition: 0.3s;
	background:#FFF5F4;

}